modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["flask_authentication:1.0.0", "google-sheet:1.0.0", "google-calendar:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "gdk-pixbuf", "glibcLocales", "gobject-introspection", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pango", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "flask-app"

[[workflows.workflow]]
name = "flask-app"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python /home/runner/workspace/app.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--workers=2", "--threads=2", "--worker-class=gthread", "--timeout=120", "--access-logfile", "-", "--error-logfile", "-", "app:app"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BD0pfmg9eQ8NtVf2ruB2bA-_WtkHM1Rp3kDXTHYBBiHDCx5DOj93zq0lrQZIkckstfNV30e68ncRIjNU4mXAb4w"
VAPID_PRIVATE_KEY = "nhY_BKHgzfVLyHUkbjAMz4OMn5IagnkPNhUEmMfazwI"
VAPID_CLAIMS_EMAIL = "mailto: tubasile@gmail.com"
